.but {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
}
.but :hover{
   
        background: #0b7dda;
      }
#nancy{
    padding-left: 70px;
    
    text-transform: uppercase
}
