/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('https://images.pexels.com/photos/1181271/pexels-photo-1181271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
   
  background-repeat: no-repeat;
  background-size: cover;
  color:burlywood;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
}